
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/dbname
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx
ADMIN_EMAIL=admin@example.com
PASS=your_app_password_here
CLOUD_NAME=your_cloudinary_name
PORT=5000

